@import '../theming/theming';
@import '../style/layout-common';

// Default focus indicator styles.
$_default-config: (
  border-style: solid,
  border-radius: 4px,
  border-width: 2px,
);

// Gets a config object with any missing keys added (using default values).
@function _get-config-with-defaults($user-config) {
  @if (not $user-config) {
    @return $_default-config;
  }

  @each $key, $value in $_default-config {
    @if (not map-get($user-config, $key)) {
      $user-config: map-merge($user-config, ($key, $value));
    }
  }

  @return $user-config;
}

/// Mixin that turns on strong focus indicators.
///
/// @example
///   .my-app {
///     @include mat-strong-focus-indicators();
///   }
@mixin mat-strong-focus-indicators($user-config: null) {
  $config: _get-config-with-defaults($user-config);
  $border-radius: map-get($config, border-radius);
  $border-width: map-get($config, border-width);
  $border-style: map-get($config, border-style);

  $inset-outset-step: 2px;

  // Base styles for the focus indicators.
  .mat-focus-indicator::before {
    @include mat-fill();

    border-radius: $border-radius;
    border: $border-width $border-style transparent;
    box-sizing: border-box;
    pointer-events: none;
  }

  // By default, all focus indicators are flush with the bounding box of their
  // host element. For particular elements (listed below), default inset/offset
  // values are necessary to ensure that the focus indicator is sufficiently
  // contrastive and renders appropriately.

  .mat-focus-indicator.mat-button-base::before,
  .mat-focus-indicator.mat-card::before,
  .mat-focus-indicator.mat-chip::before,
  .mat-focus-indicator.mat-sort-header-button::before {
    margin: $inset-outset-step * -2;
  }

  .mat-focus-indicator.mat-calendar-body-cell::before {
    margin: $inset-outset-step * -1;
  }

  .mat-focus-indicator.mat-tab-link::before,
  .mat-focus-indicator.mat-tab-label::before {
    margin: $inset-outset-step * 2;
  }

  // Render the focus indicator on focus. Defining a pseudo element's
  // content will cause it to render.

  // For checkboxes, radios, and slide toggles, render the focus indicator
  // when the class .cdk-focused is present.
  .cdk-focused.mat-checkbox .mat-focus-indicator::before,
  .cdk-focused.mat-radio-button .mat-focus-indicator::before,
  .cdk-focused.mat-slide-toggle .mat-focus-indicator::before,

  // For options, render the focus indicator when the class .mat-active
  // is present.
  .mat-focus-indicator.mat-option.mat-active::before,

  // For all other components, render the focus indicator on focus.
  .mat-focus-indicator:focus::before {
    content: '';
  }
}

/// Mixin that sets the color of the focus indicators.
///
/// @param {color|map} $themeOrMap
///   If theme, focus indicators are set to the primary color of the theme. If
///   color, focus indicators are set to that color.
///
/// @example
///   .demo-dark-theme {
///     @include mat-strong-focus-indicators-theme($darkThemeMap);
///   }
///
/// @example
///   .demo-red-theme {
///     @include mat-strong-focus-indicators-theme(#F00);
///   }
@mixin mat-strong-focus-indicators-theme($themeOrColor) {
  .mat-focus-indicator::before {
    border-color: if(
      type-of($themeOrColor) == 'map',
      mat-color(map_get($themeOrColor, primary)),
      $themeOrColor);
  }
}
